<div class="rounded-xl">
  <p-tabs [value]="'edit'" lazy="true">
    <p-tablist>
      @if (admin || canEditMetadata) {
        <p-tab value="edit">Edit Metadata</p-tab>
      }
      @if (admin || canEditMetadata) {
        <p-tab value="match">Search Metadata</p-tab>
      }
    </p-tablist>
    <p-tabpanels class="h-[calc(100vh-10rem)]">
      @if (admin || canEditMetadata) {
        <p-tabpanel value="edit">
          <app-metadata-editor
            [disableNext]="currentIndex >= books.length - 1"
            [disablePrevious]="currentIndex <= 0"
            (nextBookClicked)="handleNextBook()"
            (previousBookClicked)="handlePreviousBook()"
            (closeDialogButtonClicked)="handleCloseDialogButton()"
            [showNavigationButtons]="true"
          ></app-metadata-editor>
        </p-tabpanel>
      }
      @if (admin || canEditMetadata) {
        <p-tabpanel value="match">
          <app-metadata-searcher></app-metadata-searcher>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</div>
