<form [formGroup]="metadataForm" (ngSubmit)="onSave()" *ngIf="bookMetadata$ | async as metadata" class="pt-2 flex flex-col h-full">

  <div *ngIf="isLoading" class="absolute inset-0 bg-black opacity-25 z-10"></div>
  <p-progressSpinner *ngIf="isLoading" [style]="{position: 'absolute', top: '50%', left: '50%', transform: 'translate(-50%, -50%)'}"></p-progressSpinner>

  <div class="overflow-y-scroll flex-1">

    <div class="flex flex-row w-full gap-4">

      <div class="flex flex-col items-center gap-2 relative">

        <img
          [attr.src]="urlHelper.getCoverUrl(metadata.bookId, metadata?.coverUpdatedOn)"
          alt="Image"
          width="250"
          [ngClass]="{ 'brightness-50': isUploading }"
          class="transition-all duration-300 ease-in-out"/>

        <p-progressSpinner
          *ngIf="isUploading"
          class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10">
        </p-progressSpinner>

        <div class="flex items-center gap-6">
          <p-button
            icon="pi pi-refresh"
            (onClick)="regenerateCover(metadata.bookId)"
            pTooltip="Regenerate cover"
            tooltipPosition="top"
            [outlined]="true"
            [disabled]="metadata['coverLocked']">
          </p-button>

          <p-fileupload
            pTooltip="Upload cover"
            tooltipPosition="top"
            [disabled]="metadata['coverLocked']"
            name="file"
            [url]="getUploadCoverUrl()"
            mode="basic"
            chooseIcon="pi pi-upload"
            accept="image/jpeg,image/png"
            maxFileSize="5000000"
            chooseLabel="Cover"
            (onUpload)="onUpload($event)"
            (onError)="onUploadError($event)"
            [auto]="true"
            (onBeforeUpload)="onBeforeSend()">
          </p-fileupload>

          <p-button *ngIf="!metadata['coverLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('thumbnailUrl')" severity="success"></p-button>
          <p-button *ngIf="metadata['coverLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('thumbnailUrl')" severity="warn"></p-button>

        </div>
      </div>

      <div class="flex flex-col flex-grow pl-2">

        <!-- Title and Subtitle -->
        <div class="flex flex-row w-full gap-4 pb-1">
          <div class="flex flex-col gap-1 w-2/3">
            <label for="title">Title</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="title" formControlName="title" class="w-full"/>
              <p-button *ngIf="!metadata['titleLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('title')" severity="success"></p-button>
              <p-button *ngIf="metadata['titleLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('title')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/3">
            <label for="subtitle">Subtitle</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="subtitle" formControlName="subtitle" class="w-full"/>
              <p-button *ngIf="!metadata['subtitleLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('subtitle')" severity="success"></p-button>
              <p-button *ngIf="metadata['subtitleLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('subtitle')" severity="warn"></p-button>
            </div>
          </div>
        </div>

        <!-- Authors and Publisher -->
        <div class="flex flex-row w-full gap-4 mt-2 pb-1">
          <div class="flex flex-col gap-1 w-2/3">
            <label for="authors">Authors</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="authors" formControlName="authors" class="w-full"/>
              <p-button *ngIf="!metadata['authorsLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('authors')" severity="success"></p-button>
              <p-button *ngIf="metadata['authorsLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('authors')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/3">
            <label for="publisher">Publisher</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="publisher" formControlName="publisher" class="w-full"/>
              <p-button *ngIf="!metadata['publisherLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('publisher')" severity="success"></p-button>
              <p-button *ngIf="metadata['publisherLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('publisher')" severity="warn"></p-button>
            </div>
          </div>
        </div>

        <!-- Categories and Published Date -->
        <div class="flex flex-row w-full gap-4 mt-2 pb-1">
          <div class="flex flex-col gap-1 w-3/4">
            <label for="categories">Categories</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="categories" formControlName="categories" class="w-full"/>
              <p-button *ngIf="!metadata['categoriesLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('categories')" severity="success"></p-button>
              <p-button *ngIf="metadata['categoriesLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('categories')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/8">
            <label for="publishedDate">Publish Date</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="publishedDate" formControlName="publishedDate" class="w-full"/>
              <p-button *ngIf="!metadata['publishedDateLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('publishedDate')" severity="success"></p-button>
              <p-button *ngIf="metadata['publishedDateLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('publishedDate')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/8">
            <label for="language">Language</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="language" formControlName="language" class="w-full"/>
              <p-button *ngIf="!metadata['languageLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('language')" severity="success"></p-button>
              <p-button *ngIf="metadata['languageLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('language')" severity="warn"></p-button>
            </div>
          </div>
        </div>


        <div class="flex flex-row w-full gap-4 mt-2 pb-1">

          <div class="flex flex-col gap-1 basis-3/4">
            <label for="seriesName">Series Name</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="seriesName" formControlName="seriesName" class="w-full"/>
              <p-button *ngIf="!metadata['seriesNameLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('seriesName')" severity="success"></p-button>
              <p-button *ngIf="metadata['seriesNameLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('seriesName')" severity="warn"></p-button>
            </div>
          </div>

          <div class="flex flex-col gap-1 basis-1/8">
            <label for="seriesNumber">Book Number</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="seriesNumber" formControlName="seriesNumber" class="w-full"/>
              <p-button *ngIf="!metadata['seriesNumberLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('seriesNumber')" severity="success"></p-button>
              <p-button *ngIf="metadata['seriesNumberLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('seriesNumber')" severity="warn"></p-button>
            </div>
          </div>

          <div class="flex flex-col gap-1 basis-1/8">
            <label for="seriesTotal">Books in Series</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="seriesTotal" formControlName="seriesTotal" class="w-full"/>
              <p-button *ngIf="!metadata['seriesTotalLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('seriesTotal')" severity="success"></p-button>
              <p-button *ngIf="metadata['seriesTotalLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('seriesTotal')" severity="warn"></p-button>
            </div>
          </div>
        </div>

        <!-- ISBN, ASIN, Language -->
        <div class="flex flex-row w-full gap-4 mt-2 pb-1">
          <div class="flex flex-col gap-1 w-1/6">
            <label for="isbn10">ISBN 10</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="isbn10" formControlName="isbn10" class="w-full"/>
              <p-button *ngIf="!metadata['isbn10Locked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('isbn10')" severity="success"></p-button>
              <p-button *ngIf="metadata['isbn10Locked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('isbn10')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/6">
            <label for="isbn13">ISBN 13</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="isbn13" formControlName="isbn13" class="w-full"/>
              <p-button *ngIf="!metadata['isbn13Locked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('isbn13')" severity="success"></p-button>
              <p-button *ngIf="metadata['isbn13Locked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('isbn13')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/6">
            <label for="asin">ASIN (Amazon ID)</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="asin" formControlName="asin" class="w-full"/>
              <p-button *ngIf="!metadata['asinLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('asin')" severity="success"></p-button>
              <p-button *ngIf="metadata['asinLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('asin')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/6">
            <label for="amazonRating">Amazon ★</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="amazonRating" formControlName="amazonRating" class="w-full"/>
              <p-button *ngIf="!metadata['amazonRatingLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('amazonRating')" severity="success"></p-button>
              <p-button *ngIf="metadata['amazonRatingLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('amazonRating')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/6">
            <label for="amazonRatingCount">Amazon Reviews</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="amazonRatingCount" formControlName="amazonReviewCount" class="w-full"/>
              <p-button *ngIf="!metadata['amazonReviewCountLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('amazonReviewCount')" severity="success"></p-button>
              <p-button *ngIf="metadata['amazonReviewCountLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('amazonReviewCount')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/6">
            <label for="googleId">Google Books ID</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="googleId" formControlName="googleId" class="w-full"/>
              <p-button *ngIf="!metadata['googleIdLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('googleId')" severity="success"></p-button>
              <p-button *ngIf="metadata['googleIdLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('googleId')" severity="warn"></p-button>
            </div>
          </div>
        </div>

        <!-- Ratings and Reviews -->
        <div class="flex flex-row w-full gap-4 mt-2 pb-1">
          <div class="flex flex-col gap-1 w-1/6">
            <label for="goodreadsId">Goodreads ID</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="goodreadsId" formControlName="goodreadsId" class="w-full"/>
              <p-button *ngIf="!metadata['goodreadsIdLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('goodreadsId')" severity="success"></p-button>
              <p-button *ngIf="metadata['goodreadsIdLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('goodreadsId')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/6">
            <label for="goodreadsRating">Goodreads ★</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="goodreadsRating" formControlName="goodreadsRating" class="w-full"/>
              <p-button *ngIf="!metadata['goodreadsRatingLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('goodreadsRating')" severity="success"></p-button>
              <p-button *ngIf="metadata['goodreadsRatingLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('goodreadsRating')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/6">
            <label for="goodreadsReviewCount">Goodreads Reviews</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="goodreadsReviewCount" formControlName="goodreadsReviewCount" class="w-full"/>
              <p-button *ngIf="!metadata['goodreadsReviewCountLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('goodreadsReviewCount')" severity="success"></p-button>
              <p-button *ngIf="metadata['goodreadsReviewCountLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('goodreadsReviewCount')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/6">
            <label for="hardcoverId">Hardcover ID</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="hardcoverId" formControlName="hardcoverId" class="w-full"/>
              <p-button *ngIf="!metadata['hardcoverIdLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('hardcoverId')" severity="success"></p-button>
              <p-button *ngIf="metadata['hardcoverIdLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('hardcoverId')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/6">
            <label for="hardcoverRating">Hardcover ★</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="hardcoverRating" formControlName="hardcoverRating" class="w-full"/>
              <p-button *ngIf="!metadata['hardcoverRatingLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('hardcoverRating')" severity="success"></p-button>
              <p-button *ngIf="metadata['hardcoverRatingLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('hardcoverRating')" severity="warn"></p-button>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-1/6">
            <label for="hardcoverReviewCount">Hardcover Reviews</label>
            <div class="flex justify-between items-center gap-2">
              <input pInputText id="hardcoverReviewCount" formControlName="hardcoverReviewCount" class="w-full"/>
              <p-button *ngIf="!metadata['hardcoverReviewCountLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('hardcoverReviewCount')" severity="success"></p-button>
              <p-button *ngIf="metadata['hardcoverReviewCountLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('hardcoverReviewCount')" severity="warn"></p-button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="flex flex-row w-full pb-1">
      <div class="flex flex-col gap-1 w-full">
        <div class="flex justify-between items-center gap-2">
          <p-tabs value="editor" class="w-full">
            <p-tablist>
              <p-tab value="editor">WYSIWYG Editor</p-tab>
              <p-tab value="html">HTML Editor</p-tab>
            </p-tablist>
            <p-tabpanels>
              <p-tabpanel value="editor">
                <form [formGroup]="metadataForm">
                  <p-editor #quillEditor formControlName="description" [readonly]="quillDisabled()" [style]="{ height: '215px' }">
                    <ng-template #header>
                      <span class="ql-formats">
                        <button class="ql-bold" aria-label="Bold"></button>
                        <button class="ql-italic" aria-label="Italic"></button>
                        <button class="ql-underline" aria-label="Underline"></button>
                        <button class="ql-strike" aria-label="Strikethrough"></button>
                      </span>
                      <span class="ql-formats">
                        <select class="ql-size" aria-label="Font Size">
                          <option value="small">Small</option>
                          <option selected>Normal</option>
                          <option value="large">Large</option>
                          <option value="huge">Huge</option>
                        </select>
                      </span>
                      <span class="ql-formats">
                        <button class="ql-list" value="ordered" aria-label="Numbered List"></button>
                        <button class="ql-list" value="bullet" aria-label="Bullet List"></button>
                      </span>
                      <span class="ql-formats">
                        <select class="ql-color" aria-label="Text Color"></select>
                        <select class="ql-background" aria-label="Background Color"></select>
                      </span>
                      <span class="ql-formats">
                        <button class="ql-clean" aria-label="Remove Formatting"></button>
                      </span>
                    </ng-template>
                  </p-editor>
                </form>
              </p-tabpanel>
              <p-tabpanel value="html" class="w-full">
                <textarea
                  class="w-full p-4"
                  rows="10"
                  [disabled]="quillDisabled()"
                  [ngModel]="htmlTextarea"
                  (ngModelChange)="onHtmlTextareaChange($event)"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="Edit raw HTML here">
                </textarea>
              </p-tabpanel>
            </p-tabpanels>
          </p-tabs>
          <p-button *ngIf="!metadata['descriptionLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('description')" severity="success"></p-button>
          <p-button *ngIf="metadata['descriptionLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('description')" severity="warn"></p-button>
        </div>
      </div>
    </div>

  </div>

  <div class="flex flex-col gap-x-4 mt-auto">
    <p-divider></p-divider>

    <div class="flex gap-x-4 justify-end">
      <p-button label="Unlock All" icon="pi pi-lock-open" [outlined]="true" severity="success" (onClick)="unlockAll()"></p-button>
      <p-button label="Lock All" icon="pi pi-lock" [outlined]="true" severity="warn" (onClick)="lockAll()"></p-button>
      <p-divider layout="vertical"/>
      <p-button label="Save" icon="pi pi-check" type="submit"></p-button>
    </div>
  </div>

</form>
