<div class="rounded-xl overflow-hidden">
  <p-tabs [value]="tab" lazy="true">
    <p-tablist>
      <p-tab value="view">Book Details</p-tab>
      @if (admin || canEditMetadata) {
        <p-tab value="edit">Edit Metadata</p-tab>
      }
      @if (admin || canEditMetadata) {
        <p-tab value="match">Search Metadata</p-tab>
      }
    </p-tablist>
    <p-tabpanels class="h-[calc(100vh-10rem)]">
      <p-tabpanel value="view">
        <app-metadata-viewer [book]="book" [recommendedBooks]="recommendedBooks"></app-metadata-viewer>
      </p-tabpanel>
      @if (admin || canEditMetadata) {
        <p-tabpanel value="edit">
          <app-metadata-editor></app-metadata-editor>
        </p-tabpanel>
      }
      @if (admin || canEditMetadata) {
        <p-tabpanel value="match">
          <app-metadata-searcher></app-metadata-searcher>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</div>
