HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
example-chart/charts/

## MacOS ###
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
!.vscode/settings.json
local/
local-scripts/

### Dev config, books, and data ###
fable-ui/test-results/
fable-api/src/main/resources/application-local.yaml
fable-api/docs
/shared/
/mariadb/
/data/
/books/
/bookdrop/
booklore-v3/
booklore-v3b/
booklore-v3c/
.env
booklore_r730/
patches/
.continue/
/home/michael/booklore_test/.clinerules/
.ghcprules/
.cursor/
/home/michael/booklore_test/books/Books_General_Misc/
/home/michael/booklore_test/.clinerules/preferences.md
docker-compose.yml
dev.docker-compose.yml

### Python ###
__pycache__/
