<p-dialog
  [(visible)]="iconDialogVisible"
  header="Select an Icon"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '500px', height: '500px' }">
  <input type="text" placeholder="Search icons..." [(ngModel)]="searchText" class="icon-search"/>
  <div class="icon-grid">
    @for (icon of filteredIcons(); track icon) {
      <div
        class="icon-item"
        (click)="selectIcon(icon)"
        [class.selected]="icon === selectedIcon">
        <i [class]="icon"></i>
      </div>
    }
  </div>
</p-dialog>
