<div class="setup-container">
  <div class="setup-wrapper">
    <h1 class="app-title">BookLore</h1>
    <p-card class="w-96">
      <ng-template pTemplate="title">
        <div class="text-center pb-2">Initial Admin Setup</div>
      </ng-template>
      <ng-template pTemplate="content">
        <form class="flex flex-col gap-4" [formGroup]="setupForm" (ngSubmit)="onSubmit()">

          <div class="flex flex-col gap-2">
            <label for="name">Username</label>
            <input pInputText id="name" type="text" formControlName="username" required />
            @if (setupForm.get('username')?.invalid && setupForm.get('username')?.touched) {
              <small class="text-red-500">
                Username is required.
              </small>
            }
          </div>

          <div class="flex flex-col gap-2">
            <label for="name">Name</label>
            <input pInputText id="name" type="text" formControlName="name" required />
            @if (setupForm.get('name')?.invalid && setupForm.get('name')?.touched) {
              <small class="text-red-500">
                Name is required.
              </small>
            }
          </div>

          <div class="flex flex-col gap-2">
            <label for="email">Email</label>
            <input pInputText id="email" type="email" formControlName="email" required />
            @if (setupForm.get('email')?.invalid && setupForm.get('email')?.touched) {
              <small class="text-red-500">
                Valid email is required.
              </small>
            }
          </div>

          <div class="flex flex-col gap-2">
            <label for="password">Password</label>
            <p-password fluid id="password" formControlName="password" [feedback]="false" required></p-password>
            @if (setupForm.get('password')?.invalid && setupForm.get('password')?.touched) {
              <small class="text-red-500">
                Minimum 6 characters required.
              </small>
            }
          </div>

          <div class="flex flex-col gap-3 mt-4">
            <p-button fluid severity="success" type="submit"
              [label]="loading ? 'Creating…' : 'Create Admin Account'"
              [disabled]="loading || setupForm.invalid"
              icon="pi pi-user-plus">
            </p-button>
            @if (error) {
              <p-message severity="error" text="{{ error }}"></p-message>
            }
            @if (success) {
              <p-message severity="success" text="Admin account created! Redirecting…"></p-message>
            }
          </div>
        </form>
      </ng-template>
    </p-card>
  </div>
</div>
