<div *ngIf="isLoading" class="flex justify-center items-center h-screen relative">
  <p-progressSpinner></p-progressSpinner>
</div>

<ngx-extended-pdf-viewer
  *ngIf="!isLoading"
  [src]="bookData"
  [handTool]="handTool"
  [height]="'auto'"
  [page]="page"
  [rotation]="rotation"
  [sidebarVisible]="false"
  [zoom]="zoom"
  [spread]="spread"
  [showBookModeButton]="false"
  (pageChange)="onPageChange($event)"
  (zoomChange)="onZoomChange($event)"
  (spreadChange)="onSpreadChange($event)">
</ngx-extended-pdf-viewer>
