<div class="card" *ngIf="userService.userData$ | async as userData">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Book Preferences</p-tab>
      <ng-container *ngIf="userData.permissions.admin">
        <p-tab value="1">Quick Metadata</p-tab>
      </ng-container>
      <ng-container *ngIf="userData.permissions.admin">
        <p-tab value="2">User Management</p-tab>
      </ng-container>
      <ng-container *ngIf="userData.permissions.admin">
        <p-tab value="3">Email</p-tab>
      </ng-container>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel value="0">
        <app-book-preferences></app-book-preferences>
      </p-tabpanel>
      <ng-container *ngIf="userData.permissions.admin">
        <p-tabpanel value="1">
          <app-metadata-settings></app-metadata-settings>
        </p-tabpanel>
      </ng-container>
      <ng-container *ngIf="userData.permissions.admin">
        <p-tabpanel value="2">
          <app-admin></app-admin>
        </p-tabpanel>
      </ng-container>
      <ng-container *ngIf="userData.permissions.admin">
        <p-tabpanel value="3">
          <app-email></app-email>
        </p-tabpanel>
      </ng-container>
    </p-tabpanels>
  </p-tabs>
</div>
