<div class="book-card"
  [class.selected]="isSelected"
  (mouseover)="isHovered = true"
  (mouseout)="isHovered = false">

  <div class="cover-container" [ngClass]="{ 'shimmer': !isImageLoaded, 'center-info-btn': readButtonHidden }">
    <img
      [src]="urlHelper.getCoverUrl(book.id, book.metadata?.coverUpdatedOn)"
      class="book-cover"
      [class.loaded]="isImageLoaded"
      alt="Cover of {{ book.metadata?.title }}"
      loading="lazy"
      (load)="onImageLoad()"/>

    @if (book.metadata?.seriesNumber != null) {
      <div class="series-number-overlay">
        #{{ book.metadata?.seriesNumber }}
      </div>
    }

    <p-button [rounded]="true" icon="pi pi-info" class="info-btn" (click)="openBookInfo(book)"></p-button>
    <p-button [hidden]="readButtonHidden" [rounded]="true" icon="pi pi-book" class="read-btn" (click)="readBook(book)"></p-button>

    @if (isCheckboxEnabled) {
      <p-checkbox
        [(ngModel)]="isSelected"
        binary="true"
        id="select-checkbox-{{book.id}}"
        class="select-checkbox"
        (ngModelChange)="toggleSelection(isSelected || false)">
      </p-checkbox>
    }

    @if (progressPercentage !== null) {
      <p-progressBar
        [value]="progressPercentage"
        [showValue]="false"
        class="cover-progress-bar"
        [ngClass]="{ 'progress-complete': progressPercentage === 100, 'progress-incomplete': progressPercentage < 100 }">
      </p-progressBar>
    }
  </div>

  <div [hidden]="bottomBarHidden">
    <div class="book-title-container flex items-center">
      <p class="m-0 pl-2">
        <i
          class="pi"
          [ngClass]="isMetadataFullyLocked(book.metadata!) ? 'pi-lock text-red-400' : 'pi-lock-open text-green-400'"
          [title]="isMetadataFullyLocked(book.metadata!) ? 'Locked' : 'Unlocked'"
          style="font-size: 0.75rem;">
        </i>
      </p>
      <h4 class="book-title m-0 pl-2">{{ book.metadata?.title }}</h4>

      <p-tieredmenu #menu [model]="items" [popup]="true" appendTo="body"></p-tieredmenu>
      <p-button
        size="small"
        [text]="true"
        (click)="menu.toggle($event)"
        icon="pi pi-ellipsis-v">
      </p-button>

    </div>
  </div>
</div>
