<div class="book-card"
     [class.selected]="isSelected"
     (mouseover)="isHovered = true"
     (mouseout)="isHovered = false">

  <div class="cover-container" [ngClass]="{ 'shimmer': !isImageLoaded }">
    <img
      [src]="urlHelper.getCoverUrl(book.id, book.metadata?.coverUpdatedOn)"
      class="book-cover"
      [class.loaded]="isImageLoaded"
      alt="Cover of {{ book.metadata?.title }}"
      loading="lazy"
      (load)="onImageLoad()"/>

    <p-button [rounded]="true" icon="pi pi-info" class="info-btn" (click)="openBookInfo(book)"></p-button>
    <p-button [rounded]="true" icon="pi pi-book" class="read-btn" (click)="readBook(book)"></p-button>

    <p-checkbox
      *ngIf="isCheckboxEnabled"
      [(ngModel)]="isSelected"
      binary="true"
      id="select-checkbox-{{book.id}}"
      class="select-checkbox"
      (ngModelChange)="toggleSelection(isSelected || false)">
    </p-checkbox>
  </div>

  <div class="book-info">
    <div class="book-title-container flex items-center">
      <p class="m-0 pl-2">
        <i
          class="pi"
          [ngClass]="book.metadata?.allFieldsLocked ? 'pi-lock text-red-400' : 'pi-lock-open text-green-400'"
          [title]="book.metadata?.allFieldsLocked ? 'Locked' : 'Unlocked'"
          style="font-size: 0.75rem;">
        </i>
      </p>
      <h4 class="book-title m-0 pl-2">{{ book.metadata?.title }}</h4>

      <p-tieredmenu #menu [model]="items" [popup]="true" appendTo="body"></p-tieredmenu>
      <p-button
        size="small"
        [text]="true"
        (click)="menu.toggle($event)"
        icon="pi pi-ellipsis-v">
      </p-button>
    </div>
  </div>
</div>
