.highlight {
  color: red !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spin {
  animation: spin 1.5s linear infinite;
}

@keyframes pulsate {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.25); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}

.pulsating {
  animation: pulsate 1.5s infinite ease-in-out;
}

.notification-badge {
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  background-color: var(--red-500);
  color: yellowgreen;
  padding: 0 8px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
}
