<div class="layout-topbar">

  <a class="layout-topbar-logo pl-3" routerLink="">
    <span class="flex items-center">
      <p>Book</p>
      <p class="half-title text-3xl">lore</p>
    </span>
  </a>

  <p-button
    #menubutton
    icon="pi pi-bars"
    [rounded]="true"
    [outlined]="true"
    (click)="toggleMenu()"
    [ngClass]="{ 'rotate-right': !isMenuVisible, 'rotate-left': isMenuVisible }"
  >
  </p-button>

  <div class="topbar-right-items">
    <app-book-searcher></app-book-searcher>
    <ul class="topbar-items pl-6">
      <div class="flex gap-6">
        <li *ngIf="userService.userData$ | async as userData">
          <a class="topbar-item" *ngIf="userData.permissions.canManipulateLibrary || userData.permissions.admin">
            <i class="pi pi-plus-circle text-surface-700 dark:text-surface-100" (click)="openLibraryCreatorDialog()"
               pTooltip="Create New Library" tooltipPosition="top"></i>
          </a>
        </li>
        <li *ngIf="userService.userData$ | async as userData">
          <a class="topbar-item" *ngIf="userData.permissions.canManipulateLibrary || userData.permissions.admin">
            <i class="pi pi-upload text-surface-700 dark:text-surface-100" (click)="openFileUploadDialog()"
               pTooltip="Upload Book" tooltipPosition="top"></i>
          </a>
        </li>
        <li>
          <a class="topbar-item">
            <i class="pi pi-cog text-surface-700 dark:text-surface-100" (click)="navigateToSettings()"
               pTooltip="Settings" tooltipPosition="top"></i>
          </a>
        </li>
      </div>

      <p-divider layout="vertical"/>
      <li class="relative" (mouseenter)="onHover(true)" (mouseleave)="onHover(false)">
        <button type="button" class="topbar-item"
                enterActiveClass="animate-scalein"
                enterFromClass="hidden"
                leaveActiveClass="animate-fadeout"
                leaveToClass="hidden"
                pStyleClass="@next"
                [hideOnOutsideClick]="true">
          <i class="pi pi-wave-pulse" style="font-size: 1.5rem" [class.pulsating]="eventHighlight" [class.highlight]="eventHighlight"></i>
        </button>
        <app-live-notification-box class="config-panel notification-box" *ngIf="isHovered"></app-live-notification-box>
      </li>

      <p-divider layout="vertical"/>

      <div class="flex gap-6">
        <li class="relative">
          <button type="button"
                  class="topbar-item config-item"
                  enterActiveClass="animate-scalein"
                  enterFromClass="hidden"
                  leaveActiveClass="animate-fadeout"
                  leaveToClass="hidden"
                  pStyleClass="@next" [hideOnOutsideClick]="true">
            <i class="pi pi-palette"></i>
          </button>
          <app-theme-configurator></app-theme-configurator>
        </li>
        <li>
          <button class="topbar-item" (click)="openUserProfileDialog()" pTooltip="Profile" tooltipPosition="top">
            <i class="pi pi-user text-surface-700 dark:text-surface-100"></i>
          </button>
        </li>
        <li>
          <button class="topbar-item" (click)="logout()" pTooltip="Logout" tooltipPosition="top">
            <i class="pi pi-sign-out text-surface-700 dark:text-surface-100"></i>
          </button>
        </li>
      </div>
    </ul>
  </div>
</div>
