.no-books-text {
  font-size: 1rem;
  color: var(--text-color);
}

.no-books-container {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.virtual-scroller {
  width: 100%;
  height: calc(100vh - 11.5rem);
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.virtual-scroller-item {
  height: 220px;
  width: 135px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 1.3rem;
  overflow: hidden;
  align-items: start;
}

.book-browser-footer {
  position: absolute;
  bottom: 0;
  left: 30%;
  right: 30%;
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem 0.5rem;
  z-index: 1;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-width: 1px 1px 0px 1px;
}

.topbar-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.3rem;
  align-items: center;

  li {
    position: relative;
  }
}

.topbar-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 1.5rem;
  border: 1px solid var(--border-color);
  width: 2.5rem;
  height: 2.5rem;
  transition: outline-color .2s, border-color .2s;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  outline-color: transparent;
  background-color: var(--card-background);
  cursor: pointer;

  &:hover {
    border-color: var(--primary-color);
  }

  i, span {
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 100;
  }
}
