<div class="pt-2 flex flex-col h-full px-2 w-full">
  @if (book$ | async; as book) {
    <div>
      <div class="flex flex-row">
        <div class="cover-wrapper relative">
          <img
            [attr.src]="urlHelper.getCoverUrl(book?.metadata!.bookId, book?.metadata!.coverUpdatedOn)"
            class="book-cover placeholder"
            alt="Cover of {{ book?.metadata!.title }}"
            loading="lazy"
            width="225"
            style="min-width: 225px;"
          />
          @if (book?.metadata!.seriesNumber != null) {
            <div class="series-number-overlay">
              #{{ book?.metadata!.seriesNumber }}
            </div>
          }
          @if (getProgressPercent(book) !== null) {
            <p-progressBar
              [value]="getProgressPercent(book)"
              [showValue]="true"
              [ngClass]="{ 'progress-complete': getProgressPercent(book) === 100, 'progress-incomplete': getProgressPercent(book)! < 100 }"
              [style]="{ height: '10px' }">
            </p-progressBar>
          }
        </div>
        <div class="flex flex-col justify-between">
          <div class="pl-6 flex flex-col">
            <div class="flex flex-row items-center justify-between">
              <div>
                @if (book?.metadata?.seriesName) {
                  <p class="underline hover:opacity-80 cursor-pointer" (click)="goToSeries(book?.metadata?.seriesName!)">
                    {{ book?.metadata?.seriesName }}
                    @if (book?.metadata?.seriesNumber) {
                      #{{ book?.metadata?.seriesNumber }}
                    }
                  </p>
                }
                <div class="flex items-center gap-2">
                  <p class="text-2xl font-bold m-0">{{ book?.metadata!.title }}</p>
                  <i
                    class="pi"
                    [ngClass]="isMetadataFullyLocked(book?.metadata!) ? 'pi-lock text-red-500' : 'pi-lock-open text-green-500'"
                    [title]="isMetadataFullyLocked(book?.metadata!) ? 'Metadata is locked' : 'Metadata is unlocked'"
                    style="font-size: 1.25rem;"
                    pTooltip="{{ isMetadataFullyLocked(book?.metadata!) ? 'This book metadata is locked.' : 'This book metadata is unlocked.' }}"
                    tooltipPosition="top">
                  </i>
                </div>
                <p class="text-lg">
                  @for (author of book?.metadata!.authors; track author; let isLast = $last) {
                    <a class="underline hover:opacity-80 cursor-pointer" (click)="goToAuthorBooks(author)">
                      {{ author }}
                    </a>
                    @if (!isLast) {
                      <span>, </span>
                    }
                  }
                </p>
              </div>
            </div>
            <div class="flex items-center gap-2 pt-2">
              <div class="flex items-center gap-2">
                <i class="pi pi-thumbs-up-fill"
                   pTooltip="Personal Rating"
                   tooltipPosition="top">
                </i>
                <p-rating
                  [ngModel]="book?.metadata!.personalRating"
                  (onRate)="onPersonalRatingChange(book, $event)"
                  stars="10"
                  [style.--p-rating-icon-active-color]="getStarColorScaled(book?.metadata!.personalRating, 10)">
                </p-rating>
              </div>
              @if (book?.metadata!.amazonRating || book?.metadata!.goodreadsRating || book?.metadata!.hardcoverRating) {
                @if (book?.metadata!.amazonRating) {
                  @if (book?.metadata!.asin) {
                    <span>|</span>
                    <a class="flex items-center gap-1" [href]="'https://www.amazon.com/dp/' + book?.metadata!.asin" target="_blank" rel="noopener noreferrer">
                      <img src="https://www.amazon.com/favicon.ico" alt="Amazon"
                           class="w-5 h-5 object-contain transform transition duration-200 hover:scale-125 hover:drop-shadow-lg"/>
                      <p class="font-semibold">{{ book?.metadata!.amazonRating }}</p>
                    </a>
                  } @else {
                    <span class="flex items-center gap-1">
                      <img src="https://www.amazon.com/favicon.ico" alt="Amazon" class="w-5 h-5 object-contain"/>
                      <p class="font-semibold">{{ book?.metadata!.amazonRating }}</p>
                    </span>
                  }
                  <p-rating [ngModel]="book?.metadata!.amazonRating" readonly stars="5"
                            [style.--p-rating-icon-active-color]="getStarColorScaled(book?.metadata!.amazonRating)">
                  </p-rating>
                  <p class="font-semibold">({{ book?.metadata!.amazonReviewCount | number:'1.0-0' }})</p>
                  @if (book?.metadata!.goodreadsRating || book?.metadata!.hardcoverRating) {
                    <span>|</span>
                  }
                }
                @if (book?.metadata!.goodreadsRating) {
                  @if (book?.metadata!.goodreadsId) {
                    <a class="flex items-center gap-1" [href]="'https://www.goodreads.com/book/show/' + book?.metadata!.goodreadsId" target="_blank" rel="noopener noreferrer">
                      <img src="https://www.goodreads.com/favicon.ico" alt="Goodreads"
                           class="w-5 h-5 object-contain transform transition duration-200 hover:scale-125 hover:drop-shadow-lg"/>
                      <p class="font-semibold">{{ book?.metadata!.goodreadsRating }}</p>
                    </a>
                  } @else {
                    <span class="flex items-center gap-1">
                      <img src="https://www.goodreads.com/favicon.ico" alt="Goodreads" class="w-5 h-5 object-contain"/>
                      <p class="font-semibold">{{ book?.metadata!.goodreadsRating }}</p>
                    </span>
                  }
                  <p-rating [ngModel]="book?.metadata!.goodreadsRating" readonly stars="5"
                            [style.--p-rating-icon-active-color]="getStarColorScaled(book?.metadata!.goodreadsRating)">
                  </p-rating>
                  <p class="font-semibold">({{ book?.metadata!.goodreadsReviewCount | number:'1.0-0' }})</p>
                  @if (book?.metadata!.hardcoverRating) {
                    <span>|</span>
                  }
                }
                @if (book?.metadata!.hardcoverRating) {
                  @if (book?.metadata!.hardcoverId) {
                    <a class="flex items-center gap-1" [href]="'https://hardcover.app/books/' + book?.metadata!.hardcoverId" target="_blank" rel="noopener noreferrer">
                      <img src="https://assets.hardcover.app/static/favicon.ico" alt="Hardcover"
                           class="w-5 h-5 object-contain transform transition duration-200 hover:scale-125 hover:drop-shadow-lg"/>
                      <p class="font-semibold">{{ book?.metadata!.hardcoverRating }}</p>
                    </a>
                  } @else {
                    <span class="flex items-center gap-1">
                      <img src="https://assets.hardcover.app/static/favicon.ico" alt="Hardcover" class="w-5 h-5 object-contain"/>
                      <p class="font-semibold">{{ book?.metadata!.hardcoverRating }}</p>
                    </span>
                  }
                  <p-rating [ngModel]="book?.metadata!.hardcoverRating" readonly stars="5"
                            [style.--p-rating-icon-active-color]="getStarColorScaled(book?.metadata!.hardcoverRating)">
                  </p-rating>
                  <p class="font-semibold">({{ book?.metadata!.hardcoverReviewCount | number:'1.0-0' }})</p>
                  @if ((book?.metadata!.amazonRating || book?.metadata!.goodreadsRating || book?.metadata!.hardcoverRating) && book?.metadata!.googleId) {
                    <span>|</span>
                  }
                }
                @if (book?.metadata!.googleId) {
                  <a class="flex items-center gap-1" [href]="'https://books.google.com/books?id=' + book?.metadata!.googleId" target="_blank" rel="noopener noreferrer">
                    <img src="https://books.google.com/favicon.ico" alt="Google Books"
                         class="w-5 h-5 object-contain transform transition duration-200 hover:scale-125 hover:drop-shadow-lg"/>
                  </a>
                }
              }
            </div>
            <div class="overflow-x-auto pt-4 scrollbar-hide max-w-full w-full">
              <div class="flex gap-2 w-max max-w-[1150px]">
                @for (category of book?.metadata!.categories; track category) {
                  <a (click)="goToCategory(category)" class="shrink-0 no-underline cursor-pointer">
                    <p-tag [value]="category"></p-tag>
                  </a>
                }
              </div>
            </div>
            <div class="grid gap-x-20 gap-y-2 pt-6" style="grid-template-columns: repeat(5, max-content);">
              <div>
                <p class="whitespace-nowrap flex items-center gap-2">
                  <span class="font-bold">Read Status:</span>
                  <p-tag
                    class="cursor-pointer text-white"
                    [severity]="getStatusSeverity(selectedReadStatus)"
                    (click)="menu.toggle($event)">
                    {{ getStatusLabel(selectedReadStatus) }}
                  </p-tag>
                  <p-menu #menu [popup]="true" [model]="readStatusMenuItems"></p-menu>
                </p>
              </div>
              <p class="whitespace-nowrap max-w-[250px] overflow-hidden text-ellipsis">
                <span class="font-bold">Publisher: </span>
                @if (book?.metadata?.publisher) {
                  <span class="underline hover:opacity-80 cursor-pointer" (click)="goToPublisher(book?.metadata?.publisher!)">
                    {{ book?.metadata?.publisher }}
                  </span>
                } @else {
                  <span>-</span>
                }
              </p>
              <p class="whitespace-nowrap"><span class="font-bold">Published:</span> {{ book?.metadata!.publishedDate || '-' }}</p>
              <p class="whitespace-nowrap"><span class="font-bold">Language:</span> {{ book?.metadata!.language || '-' }}</p>
              <p class="whitespace-nowrap"><span class="font-bold">ISBN 10:</span> {{ book?.metadata!.isbn10 || '-' }}</p>

              <p class="whitespace-nowrap flex items-center gap-2">
                <span class="font-bold">File Type:</span>
                <span
                  class="inline-block px-2 py-0.5 rounded-lg text-xs font-bold text-gray-200"
                  [ngClass]="getFileTypeColorClass(getFileExtension(book?.filePath))">
                  {{ getFileExtension(book?.filePath) || '-' }}
                </span>
              </p>

              <p class="whitespace-nowrap flex items-center gap-2">
                <span class="font-bold">Metadata Score:</span>
                @if (book?.metadataMatchScore != null) {
                  <span
                    class="inline-block px-2 py-0.5 rounded-lg text-xs font-bold text-gray-200 border"
                    [ngClass]="getMatchScoreColorClass(book?.metadataMatchScore!)">
                    {{ (book?.metadataMatchScore! * 100) | number:'1.0-0' }}%
                  </span>
                } @else {
                  <span>-</span>
                }
              </p>
              <p class="whitespace-nowrap flex items-center gap-2">
                <span class="font-bold">Progress:</span>
                <span
                  class="inline-block px-2 py-0.5 rounded-full text-xs font-bold text-white"
                  [ngClass]="getProgressColorClass(getProgressPercent(book))">
                  {{ getProgressPercent(book) !== null ? getProgressPercent(book) + '%' : 'N/A' }}
                </span>
              </p>
              <p class="whitespace-nowrap"><span class="font-bold">File Size:</span> {{ getFileSizeInMB(book) }}</p>
              <p class="whitespace-nowrap"><span class="font-bold">ISBN 13:</span> {{ book?.metadata!.isbn13 || '-' }}</p>
            </div>
            <div class="pt-2 flex items-center gap-2">
              <span class="font-semibold flex-shrink-0">File Path:</span>
              <p-toggleButton
                [(ngModel)]="showFilePath"
                onIcon="pi pi-eye-slash"
                offIcon="pi pi-eye"
                onLabel=""
                offLabel=""
                size="small"
                class="flex-shrink-0 my-visibility-toggle"></p-toggleButton>
              @if (showFilePath) {
                <div
                  class="flex items-center gap-4 flex-grow"
                  style="min-width: 0;">
                  <p
                    class="font-mono text-sm text-gray-400 whitespace-nowrap flex-grow"
                    style="min-width: 0;">
                    {{ book?.filePath }}
                  </p>
                </div>
              }
            </div>
          </div>
          @if (userService.userState$ | async; as userData) {
            <div class="pl-6 pt-4 flex flex-row w-full gap-4">
              @if (book!.bookType === 'PDF') {
                @if (readMenuItems$ | async; as readItems) {
                  <p-splitbutton
                    label="Read"
                    icon="pi pi-book"
                    [model]="readItems"
                    (onClick)="read(book.id, 'ngx')"
                    severity="info"/>
                }
              }
              @if (book!.bookType !== 'PDF') {
                <p-button
                  label="Read"
                  icon="pi pi-book"
                  (onClick)="read(book?.metadata!.bookId, undefined)"
                  severity="info"/>
              }
              <p-button
                label="Shelf"
                icon="pi pi-folder"
                severity="info"
                outlined
                (onClick)="assignShelf(book.id)">
              </p-button>
              @if (userData.permissions.canDownload || userData.permissions.admin) {
                <p-button
                  label="Download"
                  icon="pi pi-download"
                  severity="info"
                  outlined
                  (onClick)="download(book.id)">
                </p-button>
              }
              @if (userData.permissions.canEmailBook || userData.permissions.admin) {
                @if (emailMenuItems$ | async; as emailItems) {
                  <p-splitbutton
                    label="Quick Send"
                    icon="pi pi-send"
                    [model]="emailItems"
                    (onClick)="quickSend(book.id)"
                    outlined
                    severity="info">
                  </p-splitbutton>
                }
              }
              @if (userData.permissions.canEditMetadata || userData.permissions.admin) {
                @if (refreshMenuItems$ | async; as refreshItems) {
                  <p-splitbutton
                    [label]="isAutoFetching ? 'Fetching...' : 'Auto Fetch'"
                    [icon]="isAutoFetching ? 'pi pi-spin pi-spinner' : 'pi pi-bolt'"
                    [outlined]="true"
                    [model]="refreshItems"
                    severity="info"
                    (onClick)="quickRefresh(book.id)"
                    [disabled]="isAutoFetching"
                    pTooltip="Automatically fetch metadata using default sources"
                    tooltipPosition="top">
                  </p-splitbutton>
                }
              }
              @if (userData.permissions.canDeleteBook || userData.permissions.admin) {
                @if (otherItems$ | async; as otherItems) {
                  <p-button icon="pi pi-ellipsis-v" outlined severity="info" (click)="entitymenu.toggle($event)"></p-button>
                  <p-menu #entitymenu [model]="otherItems" [popup]="true" appendTo="body"></p-menu>
                }
              }
            </div>
          }
        </div>
      </div>
    </div>

    <p-divider></p-divider>

    <div class="flex-1 space-y-2 px-2">
      <div [ngClass]="{ 'line-clamp-5': !isExpanded, 'line-clamp-none': isExpanded }" class="transition-all duration-300 overflow-hidden description-container">
        <div class="readonly-editor px-2">
          <p-editor #quillEditor [readonly]="true" [style]="{height: '250px'}" [(ngModel)]="book.metadata!.description">
            <ng-template #header>
            </ng-template>
          </p-editor>
        </div>
      </div>
      @if (book.metadata!.description && book.metadata!.description.length > 100) {
        <div class="text-left">
          <button pButton
                  type="button"
                  [label]="isExpanded ? 'Show less' : 'Show more'"
                  [icon]="isExpanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
                  iconPos="right"
                  class="p-button-text p-button-sm"
                  (click)="toggleExpand()">
          </button>
        </div>
      }
      <p-divider></p-divider>
      @if (bookInSeries.length > 0) {
        <div>
          <h3 class="text-xl font-semibold pt-2">More in the Series</h3>
          <div class="dashboard-scroller-infinite"
               infiniteScroll
               [infiniteScrollDistance]="2"
               [infiniteScrollThrottle]="50"
               [horizontal]="true">
            @for (book of bookInSeries; track book) {
              <div class="dashboard-scroller-card">
                <app-book-card-lite-component
                  [book]="book"
                ></app-book-card-lite-component>
              </div>
            }
          </div>
        </div>
        <p-divider></p-divider>
      }
      @if (recommendedBooks.length > 0) {
        <div>
          <h3 class="text-xl font-semibold">Similar Books</h3>
          <div class="dashboard-scroller-infinite"
               infiniteScroll
               [infiniteScrollDistance]="2"
               [infiniteScrollThrottle]="50"
               [horizontal]="true">
            @for (book of recommendedBooks; track book) {
              <div class="dashboard-scroller-card">
                <app-book-card-lite-component
                  [book]="book.book"
                ></app-book-card-lite-component>
              </div>
            }
          </div>
        </div>
        <p-divider></p-divider>
      }
    </div>
  }
</div>
