<div class="w-full h-[calc(100vh-12.1rem)] overflow-y-auto border rounded-lg p-4 enclosing-container">

  <p class="text-xl pb-4 pt-6">
    Book Reader Settings: Global or Per-Book
    <i class="pi pi-info-circle text-sky-600"
       pTooltip="Choose whether you want to apply the same settings (like font, theme, spread, zoom, etc.) to all your books by default, or have individual setting for each book."
       tooltipPosition="right"
       style="cursor: pointer;">
    </i>
  </p>

  <div class="grid grid-cols-[auto,1fr] pl-6 gap-y-4 gap-x-4 items-center">

    <p class="text-lg  py-1">PDF:</p>
    <div class="flex gap-4 justify-start">
      <div *ngFor="let item of individualOrGlobal" class="flex items-center gap-2">
        <p-radiobutton
          [inputId]="item"
          name="spread"
          [value]="item"
          [(ngModel)]="selectedPdfScope"
          (ngModelChange)="onPdfScopeChange()">
        </p-radiobutton>
        <label [for]="item">{{ item }}</label>
      </div>
    </div>

    <p class="text-lg  py-1">Epub:</p>
    <div class="flex gap-4 justify-start">
      <div *ngFor="let item of individualOrGlobal" class="flex items-center gap-2">
        <p-radiobutton
          [inputId]="item"
          name="spread"
          [value]="item"
          [(ngModel)]="selectedEpubScope"
          (ngModelChange)="onEpubScopeChange()">
        </p-radiobutton>
        <label [for]="item">{{ item }}</label>
      </div>
    </div>
  </div>

  <p-divider></p-divider>

  <p class="text-xl pb-6 pt-6">
    PDF Reader: Global Preferences
    <i class="pi pi-info-circle text-sky-600"
       pTooltip="These settings apply globally to all PDFs. You can customize how PDFs are displayed, including page spread type, zoom level, and sidebar visibility."
       tooltipPosition="right"
       style="cursor: pointer;"></i>
  </p>

  <div class="grid grid-cols-[auto,1fr] pl-6 gap-y-4 gap-x-4 items-center">

    <p class="text-lg  py-1">Page Spread:</p>
    <div class="flex gap-4 justify-start">
      <div *ngFor="let spread of spreads" class="flex items-center gap-2">
        <p-radiobutton
          [inputId]="spread.key"
          name="spread"
          [value]="spread.key"
          [(ngModel)]="selectedSpread"
          (ngModelChange)="onSpreadChange()">
        </p-radiobutton>
        <label [for]="spread.key">{{ spread.name }}</label>
      </div>
    </div>

    <p class="text-lg  py-1">Page Zoom:</p>
    <div class="flex gap-4 justify-start">
      <div *ngFor="let zoom of zooms" class="flex items-center gap-2">
        <p-radiobutton
          [inputId]="zoom.key"
          name="zoom"
          [value]="zoom.key"
          [(ngModel)]="selectedZoom"
          (ngModelChange)="onZoomChange()">
        </p-radiobutton>
        <label [for]="zoom.key">{{ zoom.name }}</label>
      </div>
    </div>
  </div>

  <p-divider></p-divider>

  <p class="text-xl pb-6 pt-6">
    Epub Reader: Global Preferences
    <i class="pi pi-info-circle text-sky-600"
       pTooltip="These settings apply globally to all EPUBs. Customize how EPUBs are displayed, including themes, font types, and font sizes." tooltipPosition="right"
       style="cursor: pointer;"></i>
  </p>

  <div class="grid grid-cols-[auto,1fr] pl-6 gap-y-4 gap-x-4 items-center">

    <p class="text-lg">Theme:</p>
    <div class="flex gap-4 justify-start">
      <p-select
        [options]="themes"
        [(ngModel)]="selectedTheme"
        optionLabel="name"
        optionValue="key"
        placeholder="Select a Theme"
        class="w-full md:w-56"
        (ngModelChange)="onThemeChange()">
      </p-select>
    </div>

    <p class="text-lg">Font:</p>
    <div class="flex gap-4 justify-start">
      <p-select
        [options]="fonts"
        [(ngModel)]="selectedFont"
        optionLabel="name"
        optionValue="key"
        placeholder="Select a Font"
        class="w-full md:w-56"
        (ngModelChange)="onFontChange()">
      </p-select>
    </div>

    <p class="text-lg py-1">Font Size:</p>
    <div class="flex gap-4 justify-start items-center">
      <p-button icon="pi pi-minus" rounded="true" (click)="decreaseFontSize()"></p-button>
      <p>{{ fontSize }}%</p>
      <p-button icon="pi pi-plus" rounded="true" (click)="increaseFontSize()"></p-button>
    </div>
  </div>
</div>
