<div class="login-container">
  <div class="login-wrapper">
    <h1 class="app-title">BookLore</h1>
    <p-card class="login-card p-fluid">
      <ng-template pTemplate="title">Login</ng-template>

      <ng-template pTemplate="content">
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="p-field">
            <label for="username">Username</label>
            <input pInputText id="username" [(ngModel)]="username" name="username" required fluid/>
          </div>

          <div class="p-field">
            <label for="password">Password</label>
            <p-password id="password" [(ngModel)]="password" name="password" [feedback]="false" fluid required></p-password>
          </div>

          <div class="p-mt-3">
            <p-button type="submit" label="Login" icon="pi pi-sign-in" class="p-fluid"></p-button>
          </div>

          <p-message *ngIf="errorMessage" severity="error" text="{{ errorMessage }}"></p-message>
        </form>
      </ng-template>
    </p-card>
  </div>
</div>
