<div class="layout-wrapper" [ngClass]="containerClass">
  <app-topbar></app-topbar>
  <div class="layout-sidebar"
       blResizable="right"
       storageKey="bl-sidebar-width"
       [minWidth]="160"
       [maxWidth]="420">
    <app-sidebar></app-sidebar>
  </div>
  <app-directory-panel></app-directory-panel>
  <div class="layout-main-container">
    <div class="layout-main">
      <router-outlet (attach)="onRouteAttach($event)" (detach)="onRouteDetach($event)"></router-outlet>
    </div>
  </div>
  <div class="layout-mask"></div>
</div>
