<ng-container *transloco="let t; prefix: 'authorBrowser.detail'">
  @if (loading) {
    <div class="loading-state">
      <p-progressSpinner strokeWidth="4" fill="transparent" animationDuration=".8s">
      </p-progressSpinner>
      <p style="color: var(--primary-color);">{{ t('loading') }}</p>
    </div>
  }

  @if (!loading && author) {
    <div class="author-wrapper">
      <div class="route-return-control">
        <p-button
          icon="pi pi-arrow-left"
          [rounded]="true"
          [text]="true"
          severity="secondary"
          class="route-return-button"
          (onClick)="closePage()"
        ></p-button>
      </div>
      <p-tabs [value]="tab" lazy="true" scrollable>
        <p-tablist>
          <p-tab value="books">
            <i class="pi pi-user"></i>
            {{ t('booksTab') }}
          </p-tab>
          @if (canEditMetadata) {
            <p-tab value="edit">
              <i class="pi pi-pencil"></i>
              {{ t('editTab') }}
            </p-tab>
            <p-tab value="match">
              <i class="pi pi-search"></i>
              {{ t('matchTab') }}
            </p-tab>
          }
        </p-tablist>
        <p-tabpanels class="tabpanels-responsive">
          <p-tabpanel value="books">
            <div class="author-header">
              <div class="author-photo-section">
                @if (hasPhoto) {
                  <img
                    [src]="photoUrl"
                    class="author-photo-large"
                    [alt]="author.name"
                    (error)="onPhotoError()"/>
                } @else {
                  <div class="author-photo-placeholder-large">
                    <i class="pi pi-user"></i>
                  </div>
                }
              </div>
              <div class="author-info">
                <div class="author-title-row">
                  <h2 class="author-title">{{ author.name }}</h2>
                  @if (author.asin) {
                    <a [href]="'https://www.amazon.com/stores/author/' + author.asin + '/about'"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="asin-link">
                      <p-tag [value]="'ASIN: ' + author.asin" severity="info"></p-tag>
                    </a>
                    <a [href]="'https://www.audible.com/author/' + author.asin"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="asin-link">
                      <p-tag value="Audible" severity="warn"></p-tag>
                    </a>
                  }
                  @if (canEditMetadata) {
                    <p-button
                      [icon]="quickMatching ? 'pi pi-spin pi-spinner' : 'pi pi-bolt'"
                      [outlined]="true"
                      severity="warn"
                      size="small"
                      [disabled]="quickMatching"
                      (onClick)="quickMatch()"
                      [pTooltip]="t('quickMatchTooltip')"
                      tooltipPosition="top">
                    </p-button>
                  }
                </div>

                @if (author.description) {
                  <div class="description-box">
                    <div #descriptionContent
                      [ngClass]="{'line-clamp-5': !isExpanded, 'line-clamp-none': isExpanded}"
                      class="description-container">
                      <div class="readonly-editor">{{ author.description }}</div>
                    </div>
                    @if (isExpanded || isOverflowing) {
                      <p-button
                        [label]="isExpanded ? t('showLess') : t('showMore')"
                        [icon]="isExpanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
                        iconPos="right"
                        size="small"
                        text
                        (click)="toggleExpand()">
                      </p-button>
                    }
                  </div>
                }
              </div>
            </div>

            @if (authorBooks$ | async; as books) {
              <div class="books-section">
                <h3 class="section-title">{{ t('booksBy', {name: author.name}) }} ({{ books.length }})</h3>
                @if (books.length === 0) {
                  <div class="empty-books">
                    <i class="pi pi-book"></i>
                    <p>{{ t('noBooksFound') }}</p>
                  </div>
                } @else {
                  @if (selectedBooks.size > 0) {
                    <div class="selection-action-panel">
                      <div class="selection-panel-content">
                        <div class="selection-panel-left">
                          <div class="selected-count-badge">
                            <i class="pi pi-check-circle"></i>
                            <span class="selected-count">{{ selectedBooks.size }}</span>
                            <span class="selected-label">{{ t('selected') }}</span>
                          </div>
                        </div>
                        <div class="selection-panel-center">
                          <div class="action-buttons-group">
                            <p-button
                              outlined="true"
                              icon="pi pi-database"
                              severity="info"
                              (click)="openBulkMetadataEditor()"
                              pTooltip="Bulk Edit Metadata"
                              tooltipPosition="top">
                            </p-button>
                          </div>
                          <p-divider layout="vertical"></p-divider>
                          <div class="action-buttons-group utility-actions-group">
                            <p-button
                              outlined="true"
                              icon="pi pi-check-square"
                              severity="success"
                              (click)="selectAllBooks()"
                              pTooltip="Select All"
                              tooltipPosition="top">
                            </p-button>
                            <p-button
                              outlined="true"
                              icon="pi pi-times"
                              severity="warn"
                              (click)="deselectAllBooks()"
                              pTooltip="Deselect All"
                              tooltipPosition="top">
                            </p-button>
                          </div>
                        </div>
                        <div class="selection-panel-right"></div>
                      </div>
                    </div>
                  }
                  <div class="books-virtual-scroller" #scrollContainer>
                    <div class="virtual-grid" #gridContainer>
                      <div class="virtual-grid-spacer" [style.height.px]="virtualGrid.virtualizer.getTotalSize()"></div>
                      @for (row of virtualGrid.virtualizer.getVirtualItems(); track row.key) {
                        <div
                          class="virtual-row"
                          [style.transform]="'translateY(' + row.start + 'px)'"
                          [style.height.px]="virtualGrid.rowHeight()">
                          @for (book of virtualGrid.getRowItems(row.index, books); track book.id; let colIndex = $index) {
                            <div
                              class="virtual-cell"
                              [style.width.px]="currentCardSize.width"
                              [style.height.px]="currentCardSize.height">
                              <app-book-card
                                [index]="row.index * virtualGrid.columnCount() + colIndex"
                                [book]="book"
                                [mobileViewerBooksContext]="books"
                                [isSeriesCollapsed]="false"
                                [isCheckboxEnabled]="true"
                                [isSelected]="selectedBooks.has(book.id)"
                                (checkboxClick)="onCheckboxClicked($event)"
                                [overlayPreferenceService]="bookCardOverlayPreferenceService">
                              </app-book-card>
                            </div>
                          }
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
            }
          </p-tabpanel>

          @if (canEditMetadata) {
            <p-tabpanel value="edit">
              <app-author-editor
                [authorId]="author.id"
                [author]="author"
                (authorUpdated)="onAuthorUpdated($event)">
              </app-author-editor>
            </p-tabpanel>
            <p-tabpanel value="match">
              <app-author-match
                [authorId]="author.id"
                [authorName]="author.name"
                (authorMatched)="onAuthorUpdated($event)">
              </app-author-match>
            </p-tabpanel>
          }
        </p-tabpanels>
      </p-tabs>
    </div>
  }
</ng-container>
