<ng-container>
  @if (root) {
    @if (item.hasDropDown) {
      <div class="layout-menuitem-root-text root-item-with-dropdown drag-press-target" cdkDragHandle>
        <div class="root-item-label-container">
          <div>{{ item.label }}</div>
          @if (item.hasCreate) {
            <i
              class="pi pi-plus plus-icon"
              (click)="openDialog(item)"
            ></i>
          }
        </div>
        <i
          (click)="toggleExpand(key)"
          [ngClass]="{
          'pi': true,
          'pi-angle-up': isExpanded(key),
          'pi-angle-down': !isExpanded(key)
        }"
          class="expand-icon"
        ></i>
      </div>
    } @else {
      <div class="layout-menuitem-root-text root-item drag-press-target" cdkDragHandle>
        <div>{{ item.label }}</div>
      </div>
    }
  }

  <div>
    <div
      class="menu-item-container"
      cdkDragHandle
      [class.drag-press-target]="!root"
      [class.draggable-child]="!root"
      [class.active-route-container]="isRouteActive"
      [class.child-drag-row]="!root"
      (click)="triggerLink()"
    >
      @if ((item.routerLink && !item.items)) {
        <a
          #link
          (click)="itemClick($event)"
          [ngClass]="item.class"
          class="menu-item-link"
          [class.library-item-link]="item.type === 'Library'"
          [class.active-route]="isRouteActive"
          [routerLink]="item.routerLink"
          [fragment]="item.fragment"
          [queryParamsHandling]="item.queryParamsHandling"
          [preserveFragment]="item.preserveFragment"
          [skipLocationChange]="item.skipLocationChange"
          [replaceUrl]="item.replaceUrl"
          [state]="item.state"
          [queryParams]="item.queryParams"
          [attr.target]="item.target"
          tabindex="0"
          pRipple
        >
          @if (item.unhealthy$ | async) {
            <span
              class="library-health-icon"
              [pTooltip]="'common.libraryPathInaccessible' | transloco"
              tooltipPosition="right"
              aria-hidden="true"
            >
              <svg viewBox="0 0 24 24" focusable="false">
                <path d="M9.6 14.4 14.4 9.6"></path>
                <path d="M7.05 16.95 4.7 19.3a3.325 3.325 0 0 1-4.7-4.7l2.95-2.95a3.325 3.325 0 0 1 4.7 0"></path>
                <path d="m16.95 7.05 2.35-2.35a3.325 3.325 0 1 1 4.7 4.7l-2.95 2.95a3.325 3.325 0 0 1-4.7 0"></path>
                <path d="m8.1 8.1 7.8 7.8"></path>
              </svg>
            </span>
          }
          <app-icon-display
            [icon]="getIconSelection()"
            iconClass="layout-menuitem-icon"
            size="18px"
            [displayEmpty]="true"
          ></app-icon-display>
          <span class="layout-menuitem-text menu-item-text"
                [class.menu-item-text-scroll]="(item.label?.length ?? 0) > 24">
        {{ item.label }}
      </span>
        </a>
      }

      <span class="menu-item-end-content">
    @if (item.type === 'Library' || item.type === 'Shelf' || item.type === 'magicShelfItem') {
      @if ((item.type !== 'Library' || (admin || canManipulateLibrary)) && item.label !== 'Unshelved' && item.label !== 'Kobo') {
        <p-button
          (click)="entitymenu.toggle($event); $event.stopPropagation()"
          (mouseover)="hovered = true"
          (mouseleave)="hovered = false"
          [text]="true"
          [outlined]="false"
          [rounded]="true"
          [label]="hovered ? '' : (item.bookCount$ | async)?.toString() || ''"
          [icon]="hovered ? 'pi pi-ellipsis-v' : ''"
          class="entity-menu-button"
        ></p-button>
      }
      <p-menu #entitymenu [model]="item.menu" [popup]="true" appendTo="body"></p-menu>
    }

        @if (item.type === 'Library' && (!admin && !canManipulateLibrary) || item.type === 'All Books' || item.type === 'Series' || item.type === 'Authors' || item.label === 'Unshelved' || item.label === 'Kobo') {
          <p class="book-count">
        {{ formatCount(item.bookCount$ | async) }}
      </p>
        }
  </span>
    </div>

    <div [@children]="isExpanded(key) ? 'expanded' : 'collapsed'" class="submenu-container">
      @if (item.items) {
        <ul
          cdkDropList
          [cdkDropListData]="item.items"
          [cdkDropListDisabled]="!isChildSortable()"
          (cdkDropListDropped)="onChildDrop($event)">
          @for (child of item.items; track child.routerLink?.[0] ?? child.label; let i = $index) {
            <li
              app-menuitem
              [item]="child"
              [index]="i"
              [parentKey]="key"
              [menuKey]="menuKey"
              [class]="child.badgeClass"
              cdkDrag
              [cdkDragStartDelay]="childDragStartDelay"
              [cdkDragDisabled]="!isChildSortable()"></li>
          }
        </ul>
      }
    </div>
  </div>
</ng-container>
