<ng-container>
  @if (root) {
    @if (item.hasDropDown) {
      <div class="layout-menuitem-root-text root-item-with-dropdown drag-press-target">
        <div class="root-item-label-container">
          <div class="sidebar-heading-label">{{ item.label }}</div>
          @if (item.hasCreate) {
            <i
              class="pi pi-plus plus-icon"
              [class.reorder-control-disabled]="reorderMode"
              [attr.tabindex]="reorderMode ? -1 : 0"
              role="button"
              (click)="openDialog(item)"
              (keydown.enter)="openDialog(item)"
              (keydown.space)="openDialog(item)"
            ></i>
          }
        </div>
        <i
          [class.reorder-control-disabled]="reorderMode"
          [attr.tabindex]="reorderMode ? -1 : 0"
          role="button"
          (click)="toggleExpand(key)"
          (keydown.enter)="toggleExpand(key)"
          (keydown.space)="toggleExpand(key)"
          [ngClass]="{
          'pi': true,
          'pi-angle-up': isExpanded(key),
          'pi-angle-down': !isExpanded(key)
        }"
          class="expand-icon"
        ></i>
      </div>
    } @else {
      <div class="layout-menuitem-root-text root-item drag-press-target">
        <div class="sidebar-heading-label">{{ item.label }}</div>
      </div>
    }
  }

  <div>
    <div
      class="menu-item-container"
      [class.reorder-row]="reorderMode"
      [class.drag-press-target]="!root"
      [class.draggable-child]="!root"
      [class.active-route-container]="isRouteActive"
      [class.child-drag-row]="!root"
      (mouseenter)="prefetchItemThumbnails()"
      (focusin)="prefetchItemThumbnails()"
      (touchstart)="onTouchStart($event)"
      (touchend)="onTouchEnd($event)"
      (touchcancel)="onTouchCancel()"
      [attr.tabindex]="(item.routerLink && !item.items && !reorderMode) ? '0' : '-1'"
      (keydown.enter)="triggerLink()"
      (click)="triggerLink($event)"
    >
      @if ((item.routerLink && !item.items)) {
        <a
          #link
          (click)="itemClick($event)"
          [ngClass]="item.class"
          class="menu-item-link"
          [class.library-item-link]="item.type === 'Library'"
          [class.active-route]="isRouteActive"
          [routerLink]="item.routerLink"
          [fragment]="item.fragment"
          [queryParamsHandling]="item.queryParamsHandling"
          [preserveFragment]="item.preserveFragment"
          [skipLocationChange]="item.skipLocationChange"
          [replaceUrl]="item.replaceUrl"
          [state]="item.state"
          [queryParams]="item.queryParams"
          [attr.target]="item.target"
          tabindex="-1"
          pRipple
        >
          @if (item.unhealthy$ | async) {
            <span
              class="sidebar-row-status-slot sidebar-row-status-slot-visible library-health-icon"
              [pTooltip]="'common.libraryPathInaccessible' | transloco"
              tooltipPosition="right"
              aria-hidden="true"
            >
              <svg viewBox="0 0 24 24" focusable="false">
                <path d="M9.6 14.4 14.4 9.6"></path>
                <path d="M7.05 16.95 4.7 19.3a3.325 3.325 0 0 1-4.7-4.7l2.95-2.95a3.325 3.325 0 0 1 4.7 0"></path>
                <path d="m16.95 7.05 2.35-2.35a3.325 3.325 0 1 1 4.7 4.7l-2.95 2.95a3.325 3.325 0 0 1-4.7 0"></path>
                <path d="m8.1 8.1 7.8 7.8"></path>
              </svg>
            </span>
          } @else {
            <span class="sidebar-row-status-slot" aria-hidden="true"></span>
          }
          <app-icon-display
            [icon]="getIconSelection()"
            iconClass="layout-menuitem-icon"
            size="18px"
            [displayEmpty]="true"
          ></app-icon-display>
          <span class="layout-menuitem-text menu-item-text"
                [class.menu-item-text-scroll]="(item.label?.length ?? 0) > 20">
            <span class="menu-item-text-inner"
                  [class.menu-item-text-marquee]="(item.label?.length ?? 0) > 20">
              {{ item.label }}
            </span>
          </span>
        </a>
      }

      <span class="menu-item-end-content">
    @if (hasEndAction()) {
      <p-button
        (click)="onEndActionClick($event)"
        [disabled]="reorderMode"
        [text]="true"
        [outlined]="false"
        [rounded]="true"
        [icon]="item.endActionIcon"
        [pTooltip]="item.endActionTooltip"
        tooltipPosition="right"
        class="entity-menu-button interactive-entity-menu-button sidebar-row-end-action"
        [ngClass]="item.endActionClass"
        [attr.aria-label]="item.endActionAriaLabel || item.endActionTooltip"
        [tabindex]="-1"
      ></p-button>
    } @else if (canShowEntityMenu()) {
      <p-button
        (click)="entitymenu.toggle($event); $event.stopPropagation()"
        (mouseover)="hovered = true"
        (focus)="hovered = true"
        (mouseleave)="hovered = false"
        [disabled]="reorderMode"
        [text]="true"
        [outlined]="false"
        [rounded]="true"
        [label]="!hovered ? formatCount(item.bookCount$ | async) : ''"
        [icon]="!hovered ? '' : 'pi pi-ellipsis-v'"
        class="entity-menu-button interactive-entity-menu-button"
        [tabindex]="-1"
      ></p-button>
      <p-menu #entitymenu [model]="item.menu" [popup]="true" appendTo="body"></p-menu>
    } @else if (shouldShowCount()) {
      <p-button
        [disabled]="reorderMode"
        [text]="true"
        [outlined]="false"
        [rounded]="true"
        icon=""
        [label]="formatCount(item.bookCount$ | async)"
        class="entity-menu-button non-interactive-badge"
        [tabindex]="-1"
      ></p-button>
    }
  </span>
    </div>

    <div [@children]="isExpanded(key) ? 'expanded' : 'collapsed'" class="submenu-container">
      @if (item.items) {
        <ul
          cdkDropList
          [cdkDropListData]="item.items"
          [cdkDropListDisabled]="!isChildSortable()"
          (cdkDropListDropped)="onChildDrop($event)">
          @for (child of item.items; track child.routerLink?.[0] ?? child.label; let i = $index) {
            @if (isChildSortable()) {
              <li
                app-menuitem
                [item]="child"
                [index]="i"
                [parentKey]="key"
                [menuKey]="menuKey"
                [reorderMode]="reorderMode"
                [class]="child.badgeClass"
                cdkDrag></li>
            } @else {
              <li
                app-menuitem
                [item]="child"
                [index]="i"
                [parentKey]="key"
                [menuKey]="menuKey"
                [reorderMode]="reorderMode"
                [class]="child.badgeClass"></li>
            }
          }
        </ul>
      }
    </div>
  </div>
</ng-container>
