<div class="pt-2 flex flex-col h-full">
  <div *ngIf="metadata$ | async as metadata">
    <div class="flex flex-row">

      <img [attr.src]="urlHelper.getCoverUrl(metadata.bookId, metadata?.coverUpdatedOn)"
           class="book-cover placeholder"
           alt="Cover of {{ metadata.title }}"
           loading="lazy"
           width="250"/>

      <div class="flex flex-col justify-between">
        <div class="pl-6 flex flex-col w-full">
          <div class="flex flex-row items-center justify-between">
            <div>
              <p *ngIf="metadata.seriesName" class="italic">{{ metadata.seriesName }} #{{ metadata.seriesNumber }} </p>
              <div class="flex items-center gap-2">
                <p class="text-2xl font-bold m-0">{{ metadata.title }}</p>
                <i
                  class="pi"
                  [ngClass]="metadata.allFieldsLocked ? 'pi-lock text-red-500' : 'pi-lock-open text-green-500'"
                  [title]="metadata.allFieldsLocked ? 'Metadata is locked' : 'Metadata is unlocked'"
                  style="font-size: 1.25rem;"
                  pTooltip="{{ metadata.allFieldsLocked ? 'This book metadata is locked.' : 'This book metadata is unlocked.' }}"
                  tooltipPosition="top">
                </i>
              </div>
              <p class="text-xl">{{ getAuthorNames(metadata?.authors || []) }}</p>
            </div>
          </div>

          <div class="flex items-center gap-2 pt-2">
            <ng-container *ngIf="metadata.amazonRating || metadata.goodreadsRating; else legacyRating">
              <p *ngIf="metadata.amazonRating" class="font-semibold">Amazon: {{ metadata.amazonRating }}</p>
              <p-rating *ngIf="metadata.amazonRating" [(ngModel)]="metadata.amazonRating" readonly stars="5"></p-rating>
              <p *ngIf="metadata.amazonRating" class="font-semibold"> ({{ metadata.amazonReviewCount | number:'1.0-0' }})</p>

              <p *ngIf="metadata.amazonRating && metadata.goodreadsRating">|</p>

              <p *ngIf="metadata.goodreadsRating" class="font-semibold">Goodreads: {{ metadata.goodreadsRating }}</p>
              <p-rating *ngIf="metadata.goodreadsRating" [(ngModel)]="metadata.goodreadsRating" readonly stars="5"></p-rating>
              <p *ngIf="metadata.goodreadsRating" class="font-semibold"> ({{ metadata.goodreadsReviewCount | number:'1.0-0' }})</p>
            </ng-container>

            <ng-template #legacyRating>
              <p-rating [(ngModel)]="metadata.rating" readonly stars="5"></p-rating>
              <p class="font-semibold">({{ metadata.reviewCount | number:'1.0-0' }} Ratings)</p>
            </ng-template>
          </div>

          <div class="flex gap-2 pt-4 overflow-x-auto scrollbar-hide">
            <p-tag *ngFor="let category of metadata.categories" [value]="category" class="shrink-0"></p-tag>
          </div>

          <div class="grid gap-x-20 gap-y-2 pt-6" style="grid-template-columns: repeat(3, max-content);">
            <p class="whitespace-nowrap"><span class="font-bold">Publisher:</span> {{ metadata.publisher || '-' }}</p>
            <p class="whitespace-nowrap"><span class="font-bold">Published:</span> {{ metadata.publishedDate || '-' }}</p>
            <p class="whitespace-nowrap"><span class="font-bold">Language:</span> {{ metadata.language || '-' }}</p>
            <p class="whitespace-nowrap"><span class="font-bold">ISBN 10:</span> {{ metadata.isbn10 || '-' }}</p>
            <p class="whitespace-nowrap"><span class="font-bold">ISBN 13:</span> {{ metadata.isbn13 || '-' }}</p>
            <p class="whitespace-nowrap"><span class="font-bold">Page Count:</span> {{ metadata.pageCount || '-' }}</p>
          </div>

          <p class="pt-2"><span class="font-bold">File Path:</span> {{ book?.filePath }}</p>

        </div>

        <div *ngIf="userService.userData$ | async as userData" class="pl-6 pt-4 flex flex-row w-full gap-4">
          <p-button label="Read" icon="pi pi-book" severity="info" (onClick)="read(metadata.bookId)"></p-button>
          <p-button label="Assign Shelf" icon="pi pi-folder" severity="info" outlined (onClick)="assignShelf(metadata.bookId)"></p-button>
          <p-button *ngIf="userData.permissions.canDownload" label="Download" icon="pi pi-download" severity="info" outlined (onClick)="download(metadata.bookId)"></p-button>
          <p-splitbutton *ngIf="userData.permissions.canEmailBook" label="Quick Send" icon="pi pi-send" [model]="items" (onClick)="quickSend(metadata.bookId)" outlined
                         severity="info"/>
        </div>
      </div>

    </div>
  </div>

  <p-divider></p-divider>

  <div *ngIf="metadata$ | async as metadata" class="book-description space-y-4 overflow-y-auto flex-1">
    <p class="pt-2 px-2" [innerHTML]="metadata.description || 'No description available.'"></p>
  </div>

</div>
