<div class="w-full h-[calc(100vh-12.1rem)] overflow-y-auto border rounded-lg p-4 enclosing-container">
  <p class="text-xl pb-4 pt-6">Book Cover Image</p>

  <div class="grid grid-cols-[auto,1fr] pl-6 gap-y-4 gap-x-4 items-center">
    <p class="text-lg py-1">Resolution:
      <i class="pi pi-info-circle text-sky-600"
         pTooltip="Specifies the resolution of the generated cover image. Higher resolutions result in sharper images but may increase file size. This setting will apply to future books, or else use 'Regenerate' button."
         tooltipPosition="right"
         style="cursor: pointer;">
      </i>
    </p>
    <div class="flex gap-4 justify-start">
      <p-select
        [options]="resolutionOptions"
        [(ngModel)]="selectedResolution"
        (ngModelChange)="onResolutionChange()"
        placeholder="Select Resolution">
      </p-select>
    </div>

    <p class="text-lg py-1">Regenerate Covers?
      <i class="pi pi-info-circle text-sky-600"
         pTooltip="This option will regenerate the covers for all EPUB and PDF books (except locked ones) using the selected resolution and image quality."
         tooltipPosition="right"
         style="cursor: pointer;">
      </i>
    </p>
    <p-button label="Regenerate" icon="pi pi-refresh" (onClick)="regenerateCovers()"></p-button>
  </div>

  <p-divider></p-divider>
</div>
