<div class="flex flex-col space-y-6 p-4">
  <table class="min-w-full table-auto border-collapse custom-table">
    <thead>
    <tr>
      <th class="px-4 py-2 text-left font-semibold text-gray-300">Book Field</th>
      <th class="px-4 py-2 text-left font-semibold text-gray-300">3rd Priority</th>
      <th class="px-4 py-2 text-left font-semibold text-gray-300">2nd Priority</th>
      <th class="px-4 py-2 text-left font-semibold text-gray-300">1st Priority</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <td class="px-4 py-2 text-gray-300">All Other Fields</td>
      <td class="px-4 py-2">
        <p-select [options]="providers" [(ngModel)]="allP3.value"
                  (onChange)="syncProvider($event, 'p3')"
                  placeholder="Select All"
                  class="w-full">
        </p-select>
      </td>
      <td class="px-4 py-2">
        <p-select [options]="providers" [(ngModel)]="allP2.value"
                  (onChange)="syncProvider($event, 'p2')"
                  placeholder="Select All"
                  class="w-full">
        </p-select>
      </td>
      <td class="px-4 py-2">
        <p-select [options]="providers" [(ngModel)]="allP1.value"
                  (onChange)="syncProvider($event, 'p1')"
                  placeholder="Select All"
                  class="w-full">
        </p-select>
      </td>
    </tr>

    <tr *ngFor="let field of fields" [hidden]="field === 'cover' && !refreshCovers">
      <td class="px-4 py-2 text-gray-300">{{ field | titlecase }}</td>
      <td class="px-4 py-2">
        <p-select [options]="providers" [(ngModel)]="fieldOptions[field].p3"
                  placeholder="Unset"
                  class="w-full">
        </p-select>
      </td>
      <td class="px-4 py-2">
        <p-select [options]="providers" [(ngModel)]="fieldOptions[field].p2"
                  placeholder="Unset"
                  class="w-full">
        </p-select>
      </td>
      <td class="px-4 py-2">
        <p-select [options]="providers" [(ngModel)]="fieldOptions[field].p1"
                  placeholder="Unset"
                  class="w-full">
        </p-select>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="flex flex-row items-center justify-between">
    <div class="flex gap-10">
      <div class="flex flex-row items-center gap-4 justify-start">
        <p>Refresh covers: </p>
        <p-checkbox [(ngModel)]="refreshCovers" [binary]="true"></p-checkbox>
      </div>
      <div class="flex flex-row items-center gap-4 justify-start">
        <p>Merge categories: </p>
        <p-checkbox [(ngModel)]="mergeCategories" [binary]="true"></p-checkbox>
      </div>
    </div>
    <div class="flex flex-row gap-6">
      <p-button severity="warn" outlined="true" label="Reset" (onClick)="reset()"></p-button>
      <p-button label="Save" outlined="true" (onClick)="submit()"></p-button>
    </div>
  </div>

</div>
